html,
body {
    font-family: Arial, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}
.container {
    height: 100%;
}
li {
  background-color: white;
  border-style: double;
  border-color: #000000;
  color: black;
  font-family: Papyrus, fantasy;
  color : #000066;
}
ul {
  list-style: none;
  padding-left: 0;
  float:left;
  width:100%;
}
li:hover {
  background-color: #F9E559;
}
input {
    font-size: 12px;
}
h1 {
    color: #525454;
    font-size: 22px;
    margin: 0 0 10px 0;
    text-align: center;
}
#hide-loc,
#show-loc {
      width: 48%;
      background-color: #FF6600;
}
hr {
    background: #D0D7D9;
    height: 1px;
    margin: 20px 0 20px 0;
    border: none;
}
#map {
      bottom:0px;
      height: 100%;
      left: 25%;
      position: absolute;
      right: 0px;
}
#pano {
  height: 200px;
  width: 200px;
}
.listview {
  height: 100%;
  width: 25%;
  position: absolute;
  overflow-y: auto;
  background-color: #00FF00;
}

@media only screen and (max-width: 450px) {
  .listview {
    height: 31%;
    width: 100%;
  }
  #map {
    height: 69%;
    width: 100%;
    left: 0px;
  }
}